/*IMPORTED FONTS*/
@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap);

/* CSS Reset */
/* Header */
header {
    padding-top: 1px;
    background-color: var(--Lavender);
    border-bottom-right-radius: 55px;
    border-bottom-left-radius: 55px; 
    position: absolute;
    width: 100%;
}

.secondary {
    background-color: var(--Pink);
    text-align: center;
    margin-bottom: 10px;
    padding-top: 5px;
    border-radius: 10px;
    position: relative;
}
/* Nav */
.header-nav {
    background-color: var(--Yellow);
    color:#1E1E1E;
    font-family: "inter";
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    float: right;
    
}

ul {
    list-style: none;
    display: flex; /* Makes Nav text go horizontal */
    gap: 80px;
}

nav li {
    margin-right: 10px;
}

nav a{
    text-decoration: none;
    color:#1E1E1E; 
}

nav a:hover {
    color: var(--Purple);
}
/* H */
h1, h2 {
    font-family: "Kavoon";
}

text {
    font-family: "Inter";
}

h1 {
    font-size: 3em;
    text-align: center;
    padding-top: 80px;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.15em;
}

/* Body */
body {
    font-family: "Inter";
    background-color: var(--Purple);
    color: var(--White);
}

#secondary{
    margin-top: 100px;
    padding: 20px;
    background-color: var(--Pink);
    border: 1px solid #ccc;
    width:200px;
    text-align: center;

}

























/* Root Variables */
:root {
    font-family:'Courier New', Courier, monospace;

    --Teal :#4CA7C0;
    --Purple: #484FB7;
    --Lavender: #6B8FE7;
    --Yellow: #E9BB57; 
    --Pink:#D9526F;
    --Dark-gray:#1E1E1E; 
    --White:#ffffff; 
      
}